auth.txt
docs/media/elearning.mwb.bak
**/__pycache__/
src/django/venv/
src/django/elearning_app/migrations/0001_initial.py
src/django/elearning_app/migrations/0002_alter_lessons_id_alter_media_id_and_more.py
src/django/elearning_app/migrations/0003_alter_media_data.py
src/django/elearning_app/migrations/0004_alter_courses_owner_alter_lessons_course_and_more.py
