	<div style="margin-top: 5%; margin-bottom: 5%">
		<h3>Create lesson:</h3>
		<form method="post">
		  {% csrf_token %}
		  <div class="mb-3">
            <input class="form-control" type="text" name="name" placeholder="Name" required>
          </div>
		  <div class="mb-3">
			<div><textarea class="form-control" type="text" name="body" rows="4" placeholder="Body"></textarea></div>
          </div>
		  <br>
		  <input class="btn btn-secondary" style="background-color: var(--custom-secondary-color);" type="submit" value="Create"></input>
		</form>
	</div>
