{% extends 'layout.html' %}

{% block content %}
<div class="row" style="background-color: var(--custom-secondary-color); margin-top: 20px; flex:1;">
    <div class="text-white" style="margin-top: 20px; margin-bottom:20px; text-align: center;">
        <h1>Contact Us</h1>
        <p></p>
    </div>
</div>
<div class="container" style=" padding: 20px">
  <div class="row">
      <div class="col-md-8" style="padding: 0px; margin-left: auto; margin-right: auto;">
        <div class="card mb-5">
          <div class="card-body p-sm-5">
              <h2 class="text-center mb-4"></h2>
              <form method="post">
                  <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Name"></div>
                  <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Email"></div>
                  <div class="mb-3"><textarea class="form-control" id="message-2" name="message" rows="6" placeholder="Message"></textarea></div>
                  <div><button class="btn btn-primary d-block w-100" style="background-color: var(--custom-secondary-color)"  type="submit">Send </button></div>
              </form>
          </div>
      </div>
      </div>
    </div>
  </div>
{% endblock content %}