{% extends 'layout.html' %}

{% block content %}
<div class="row" style="background-color: var(--custom-secondary-color); margin-top: 20px;">
    <div class="text-white" style="margin-top: 20px; margin-bottom:20px; text-align: center;">
        <h1>Courses</h1>
        <p>Here you can see a list of all our courses. Click on the course's name to see the detailed page.</p>
    </div>
</div>
<div class="container" style=" padding: 20px">
    <div class="row">
        <div class="col-md-8" style="padding: 0px; margin-left: auto; margin-right: auto;">
            {% include 'components/create_course.html' %} 
            <table class="table table-striped table-hover" id="course-table">
                <thead>
                    <tr>
                        <th class="course-code">Code</th>
                        <th class="course-name">Course Name</th>
                        <th class="course-owner">Owner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for course in courses_list  %}
                    <tr>
                        <td class="course-code">{{course.code}}</td>
                        <td class="course-name"><a href="{% url 'course' course.id %}">{{course.name}}</a></td>
                        <td class="course-owner"><a href="{% url 'profile' course.owner.id %}">{{course.owner}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
             </table>
        </div>
    </div>
</div>
 
{% endblock content %}
