{% extends 'layout.html' %}

{% block content %}
 	{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'success' %}
				<div class="alert alert-success" role="alert" style="color: green">
					{{ message }}
				</div>
			{% elif message.tags == 'error' %}
				<div class="alert alert-danger" role="alert" style="color: red">
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
 <p>{{Course.name}}</p>
 <form method="post">
  {% csrf_token %}
  <input style="display: none" name="operation" value="delete"></input>
  <input style="display: none" name="model" value="course"></input>
  <button type=submit>Delete</button>
 </form>
 <hr>
 <div>
  <h4>Lessons:</h4>
   {% for lesson in Course.lessons_set.all %}
    <p>
     <b>{{ lesson.name }}</b><br>
     <span>{{ lesson.body }}</span>
     <form method="post" style="border: solid black 1px; width: fit-content;">
      {% csrf_token %}
      <input style="display: none" name="operation" value="update"></input>
      <input style="display: none" name="model" value="lesson"></input>
      <input style="display: none" name="to_update" value="{{ lesson.id }}"></input>
      <input name="name" value="{{ lesson.name }}"></input><br>
      <textarea name="body">{{ lesson.body }}</textarea><br>
      <button type=submit>Update</button>
     </form>
	</p>
     <form method="post">
      {% csrf_token %}
      <input style="display: none" name="operation" value="delete"></input>
      <input style="display: none" name="model" value="lesson"></input>
      <input style="display: none" name="to_delete" value="{{ lesson.id }}"></input>
      <button type=submit>Delete</button>
     </form>
	</p>
   {% endfor %}
 <div>
 <hr>
 {% include 'components/create_lesson.html' %}
{% endblock content %}
