{% extends 'layout.html' %}
{% block content %}
 this is the signup page
 	{% if messages %}
		{% for message in messages %}
			{% if message.tags == 'success' %}
				<div class="alert alert-success" role="alert" style="color: green">
					{{ message }}
				</div>
			{% elif message.tags == 'error' %}
				<div class="alert alert-danger" role="alert" style="color: red">
					{{ message }}
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
    <form method="post">
	  {% csrf_token %}
      <label for="neptun">Neptun:</label><br>
      <input type="text" id="neptun" name="neptun" required><br>
      <label for="first_name">First Name:</label><br>
      <input type="text" id="first_name" name="first_name" required><br>
      <label for="last_name">Last Name:</label><br>
      <input type="text" id="last_name" name="last_name" required><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email" required><br>
      <label for="password">Password:</label><br>
      <input type="password" id="password" name="password" required><br>
      <br>
      <input type="submit" value="Register">
    </form>
{% endblock content %}
